/*------Базовые стили-------------------------------------------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-family: UBUNTU;
    font-size: 18px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*------Шапка сайта----------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
}
.header__logo {

}
.header__menu {
    margin: 0 0 0 150px;
}
.navigation {
    padding: 15px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    margin: 0 0 0 40px;
}
.menu__link {
    font-size: 16px;
    color: #4B5D68;
    font-weight: 500;
    line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
    color: #212353;
    font-size: 18px;
}

/*------Основная страница и блоки-------------------------------------------------------------------*/
.page {
    flex: 1 1 auto;
}
.page__main-block {

}
/*------Main Block----------------------------------------------------------------------------*/
.main-block {
    position: relative;
}

.main-block__container {

}
.main-block__body {
    padding: 184px 0 300px 0;
    position: relative;
    z-index: 2;
    max-width: 645px;
}
.main-block__body > *:not(:last-child) {
    margin: 0 0 50px 0;

}
.main-block__title {
    font-size: 80px;
    font-weight: 700;
    color: #212353;
    line-height: calc(80 / 58 * 100%);
}
.main-block__text {
    color: #4B5D68;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}
.main-block__button {
    background-color: #9C69E2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;
    min-height: 60px;
    max-width: 170px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 160%;
}
.main-block__button:hover {
    opacity: 0.5;
    background-color: green;
}
.main-block__image {
    top: 40vh;
    left: 5vw;
    position: absolute;
    width: 100%;
    height: 468px;

}
/*------Second Block-----------------------------------------------------------------------------*/
.page__second-block {
    position: relative;
    padding-bottom: 150px;
}
.second-block {
    display: flex;
    position: relative;
    z-index: 3;
    max-width: 1117px;
    max-height: 560px;
    background-color: #ffc0cb;
    border-radius: 50px;
    align-items: center;
    gap: 65px;
}
.second-block-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.second-block__title {
    font-size: 40px;
    color: #212353;
    font-weight: 700;
    line-height: 130%
}
.second-block__text {
    font-size: 18px;
    font-weight: 500;
    color: #4B5D68;
    line-height: 160%
}
/*------Блок Features----------------------------------------------------------------------*/
.page__features-block {
    position: relative;
    padding-bottom: 150px;
}
.features-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1117px;
}
.features-block__title {
    color: #212353;
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
}
.features-block__text {
   text-align: center;
    color: #4B5D68;
    line-height: 160%;
    font-weight: 500;
}
/*------Service block----------------------------------------------------------------------*/
.page__service-block {
    position: relative;
    padding-bottom: 150px;
}
.service-block {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1117px;
    gap: 50px 210px;
}

.service-block__services-item1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #aaf0d1;
    width: 350px;
    height: 350px;
    color: #4B5D68;
    border-radius: 50px;
    padding: 49px 49px 33px 79px;
}
.service-block__services-item2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d3c5f0;
    width: 350px;
    height: 350px;
    color: #4B5D68;
    border-radius: 50px;
    padding: 49px 49px 33px 79px;
}
.service-block__services-item3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffccde;
    width: 350px;
    height: 350px;
    color: #4B5D68;
    border-radius: 50px;
    padding: 49px 49px 33px 79px;
}
.service-block__services-item4 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ace5ee;
    width: 350px;
    height: 350px;
    color: #4B5D68;
    border-radius: 50px;
    padding: 49px 49px 33px 79px;
}

.service-block__services-title {
    font-size: 24px;
    color: #212353;
    line-height: 130%;
    font-weight: 400;
}
.service-block__services-text {
    max-width: 220px;
    font-size: 16px;
    color: #4B5D68;
    line-height: 160%;
    font-weight: 400;
}
.service-block__services-link {
    font-size: 16px;
    color: #212353;
    line-height: 160%;
    font-weight: 800;
    align-items: center;
    display: flex;
    gap: 10px;
}
.service-block__services__image {
    top: 10vh;
    right: 290px;
    position: absolute;
    z-index: 50;
}
._image-size1 {
    width: 232px;
    height: 211px;
}
._image-size2 {
    width: 241px;
    height: 185px;
}
._image-size3 {
    width: 226px;
    height: 167px;
}
._image-size4 {
    width: 235px;
    height: 205px;
}

.service-block__services-item1:before, .service-block__services-item1:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #aaf0d1;
    border-radius: 50px;
    z-index: -1;
}
.service-block__services-item1:before{
    left: -70px;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
}
.service-block__services-item1:after{
    -webkit-transform: skewX(5deg);
    -moz-transform: skewX(5deg);
    -o-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
}
.service-block__services-item2:before, .service-block__services-item2:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #d3c5f0;
    border-radius: 50px;
    z-index: -1;
}
.service-block__services-item2:before{
    left: -70px;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
}
.service-block__services-item2:after{
    -webkit-transform: skewX(5deg);
    -moz-transform: skewX(5deg);
    -o-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
}
.service-block__services-item3:before, .service-block__services-item3:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #ffccde;
    border-radius: 50px;
    z-index: -1;
}
.service-block__services-item3:before{
    left: -70px;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
}
.service-block__services-item3:after{
    -webkit-transform: skewX(5deg);
    -moz-transform: skewX(5deg);
    -o-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
}
.service-block__services-item4:before, .service-block__services-item4:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #ace5ee;
    border-radius: 50px;
    z-index: -1;
}
.service-block__services-item4:before{
    left: -70px;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
}
.service-block__services-item4:after{
    -webkit-transform: skewX(5deg);
    -moz-transform: skewX(5deg);
    -o-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    transform: skewX(5deg);
}

.right-arrow {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.right-arrow::before,
.right-arrow::after {
    display: inline-flex;
    position: absolute;
    content: '';
}
.right-arrow::before {
    top: 12px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: gray;
}
.right-arrow::after {
    width: 12px;
    height: 12px;
    top: 7px;
}
.right-arrow::after {
    right: 0;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    transform: rotate(45deg);
}
.left-arrow {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.left-arrow::before, .left-arrow::after {
    display: inline-flex;
    position: absolute;
    content: '';
}

.left-arrow::before {
    top: 12px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: gray;
}

.left-arrow::after {
    width: 12px;
    height: 12px;
    top: 7px;
}
.left-arrow::after {
    left: 0;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform: rotate(-45deg);
}

/*------Блок Testimonials----------------------------------------------------------------------*/
.page__testimonials {
    position: relative;
    padding-bottom: 150px;

}
.testimonials-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 1117px;
    max-height: 709px;
    background-color: #9C69E2;
    border-radius: 50px;
    gap: 40px;
    padding: 109px 0 62px 93px;
}

.testimonials-block__title {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 130%
}
.testimonials-block__slider {
    display: flex;
    flex-wrap: nowrap;
    width: 1600px;
    gap: 20px;
}
.slider-page {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 645px;
    max-height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 20px 0 #f2d0ea;
    transition: .15s;
    border-color: #9C69E2;
    border-style: solid;
    border-width: 1px;
}
.slider-page__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 40px 50px 180px;
}
/*.slider-page__icon {
    top: 270px;
    right: 860px;
    position: absolute;
    z-index: 50;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: gray;
}
*/
.slider-page__icon {
    top: 90px;
    left: 80px;
    position: relative;
    z-index: 50;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: gray;
}
.slider-page__photo {
    border-radius: 50%;
    background-color: gray;
}

.slider-page__descript {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.slider-page__body-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 160%;
}

.slider-page_descript__text {
    font-size: 18px;
    line-height: 180%;
    font-weight: 400;
    color: #4B5D68;
}
.slider-page_descript__text h5 {
    color: #9C69E2;
    font-size: 14px;
}
.testimonials-block__link {
   display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 962px;
}
.link-circles {
    display: inline-flex;
    gap: 10px;
}
.link-circle {
    background-color: #FFFFFF;
    clip-path: circle(50%);
    height: 5px;
    width: 5px;
}
.link-circle:hover {

    background-color: #F063B8;
    cursor: pointer;
    height: 10px;
    width: 10px;
}
/*------Подвал сайта----------------------------------------------------------------------*/
.footer {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #9C69E2;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.footer__items {
    display: flex;
    flex-wrap: wrap;
    padding:165px 15px 65px 15px;
    gap: 750px;
}
.items__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.items__contacts-logo {
        display: flex;
        align-items: center;
        gap: 10px;
}
.items__contacts-title {
    font-size: 20px;
    color: #212353;
    line-height: 160%;
    font-weight: 900;
}
.items__contacts-address {
    display: flex;
    flex-direction: column;
    color: #212353;
    font-size: 16px;
    font-weight: 500;
    line-height: 180%;
}
.items__contacts-email {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #212353;
    line-height: 180%;
    font-size: 16px;
}
.items__contacts-regnumber {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #212353;
    line-height: 180%;
    font-size: 12px;
}
.footer__social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media__title {
    font-size: 16px;
    color: #212353;
    line-height: 160%;
    font-weight: 900;
}
.social-media__icons {
    display: flex;
    gap: 10px
}






